body 
{
background-color: rgb(255, 255, 255);
}
main
{   
   margin: auto;
   width: 800px;
   height: 800px;
   border-radius: solid black;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
h1
{
    border: 5px solid black;
    border-radius: 60px;
    text-align: center;
}
img
{
    width: 600px;
}  